Engine/Binaries/
Engine/DerivedDataCache/
Engine/Intermediate/
Engine/Plugins/*/*/Binaries/
Engine/Plugins/*/*/Intermediate/
Engine/Programs/UnrealHeaderTool/
Engine/Programs/UnrealPak/
Engine/Saved/
Engine/Shaders/Binaries/
Engine/Source/*/*/*/obj/
Engine/Source/*/*/obj/
Engine/Source/*/obj/

UE4.opensdf
UE4.sdf
UE4.sln
UE4.suo
UE4.*.suo

Vision/Binaries/*
Vision/DerivedDataCache/*
Vision/Intermediate/*
Vision/Saved/*

Vision/Binaries/*
Vision/Intermediate/*
Vision/Saved/*
Vision/Vision.opensdf
Vision/Vision.sdf
Vision/Vision.sln
Vision/Vision.v12.suo
